@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-lg {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Regular shadow */
}

.shadow-xl:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Bolder shadow on hover */
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .text-6xl {
    font-size: 2rem;
  }
  .text-4xl {
    font-size: 1.5rem;
  }
  .p-10 {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .ml-64 {
    margin-left: 0;
  }
  .ml-20 {
    margin-left: 0;
  }
  .w-full {
    width: 100%;
    padding: 1rem;
  }
  .h-screen {
    height: auto;
  }
}

@media (max-width: 480px) {
  .text-6xl {
    font-size: 1.75rem;
  }
  .text-4xl {
    font-size: 1.25rem;
  }
  .p-10 {
    padding: 1rem;
  }
  .flex {
    flex-direction: column;
  }
}
